body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  background: #212121;
}

header {
  color: #fff;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
}

h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 100;
}

main {
  margin-top: 20px; /* Adjust according to the header height */
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px); /* Adjust according to the header height */
}

.container {
  width: 65%;
}

.image-container {
  display: flex;
  justify-content: space-between;
}

.image-wrapper {
  text-align: center; /* Center align the image and name */
}

.image-container img {
  width: 400px; 
  height: 480px;
  border-radius: 10px;
  transition: transform 0.3s ease; /* Add smooth transition */
}

.image-container img:hover {
  transform: scale(1.10); /* Increase size by 5% on hover */
}

.image-name {
  color: #fff; /* Set text color to white */
  margin-top: 40px; /* Adjust margin as needed */
}
