body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  background: #212121;
}

header {
  color: #fff;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
}

h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 100;
}

main {
  margin-top: 20px; /* Adjust according to the header height */
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px); /* Adjust according to the header height */
}

.container {
  width: 65%;
}

.image-container {
  display: flex;
  justify-content: space-between;
}

.image-wrapper {
  text-align: center; /* Center align the image and name */
}

.image-container img {
  width: 400px; 
  height: 480px;
  border-radius: 10px;
  transition: transform 0.3s ease; /* Add smooth transition */
}

.image-container img:hover {
  transform: scale(1.10); /* Increase size by 5% on hover */
}

.image-name {
  color: #fff; /* Set text color to white */
  margin-top: 40px; /* Adjust margin as needed */
}



.music-status {
  position: fixed;
  bottom: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  background-color: #fff; /* Match the default background color */
  color: #212121; /* Text color */
  padding: 4px 8px; /* Adjust padding as needed */
  border-radius: 5px; /* Rounded corners */
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  transition: background-color 0.3s, border-color 0.3s; /* Add smooth transition for background color and border color */
  border: 1px solid #212121; /* Add border */
}

.music-status:hover {
  background-color: #212121; /* Change background color on hover */
  color: #fff; /* Change text color on hover */
  border-color: #fff; /* Change border color on hover */
}










/* CSS for the notification div */
.notification {
  position: fixed;
  top: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  background-color: #fff; /* Background color */
  color: #212121; /* Text color */
  padding: 8px; /* Padding */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
  transition: background-color 0.3s, border-color 0.3s; /* Transition */
  border: 1px solid #212121; /* Border */
}

.notification:hover {
  background-color: #212121; /* Change background color on hover */
  color: #fff; /* Change text color on hover */
  border-color: #fff; /* Change border color on hover */



}