body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  background: #212121;
}

header {
  color: #fff;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
}

h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 100;
}

main {
  margin-top: 20px; /* Adjust according to the header height */
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px); /* Adjust according to the header height */
}

.container {
  width: 65%;
}

.image-container {
  display: flex;
  justify-content: space-between;
}

.image-wrapper {
  text-align: center; /* Center align the image and name */
}

.image-container img {
  width: 400px; 
  height: 480px;
  border-radius: 10px;
  transition: transform 0.3s ease; /* Add smooth transition */
}

.image-container img:hover {
  transform: scale(1.10); /* Increase size by 5% on hover */
}

.image-name {
  color: #fff; /* Set text color to white */
  margin-top: 40px; /* Adjust margin as needed */
}



.music-status {
  position: fixed;
  bottom: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  background-color: #fff; /* Match the default background color */
  color: #212121; /* Text color */
  padding: 4px 8px; /* Adjust padding as needed */
  border-radius: 5px; /* Rounded corners */
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  transition: background-color 0.3s, border-color 0.3s; /* Add smooth transition for background color and border color */
  border: 1px solid #212121; /* Add border */
  user-select: none; /* Prevent text selection */
}

.music-status:hover {
  background-color: #212121; /* Change background color on hover */
  color: #fff; /* Change text color on hover */
  border-color: #fff; /* Change border color on hover */
}










/* CSS for the notification div */
.notification {
  position: fixed;
  top: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  background-color: #fff; /* Background color */
  color: #212121; /* Text color */
  padding: 8px; /* Padding */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
  transition: background-color 0.3s, border-color 0.3s; /* Transition */
  border: 1px solid #212121; /* Border */
  user-select: none; /* Prevent text selection */
}

.notification:hover {
  background-color: #212121; /* Change background color on hover */
  color: #fff; /* Change text color on hover */
  border-color: #fff; /* Change border color on hover */



}









/* CSS for the popup */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #212121;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10000; /* Set higher z-index */
}

.popup-content {
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 34px; /* Increase font size */
  padding: 5px; /* Add padding */
  transition: transform 0.3s;
  user-select: none; /* Prevent text selection */
}

.close-btn:hover {
  transform: rotate(90deg);
}

/* CSS for the overlay */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
  z-index: 9999; /* Set below popup */
}


form {
  display: flex;
    flex-direction: column; /* Align elements vertically */
    align-items: flex-start; /* Align elements to the left */
  padding: 20px; /* Add padding */
  border-radius: 10px; /* Add border radius */
  color: white;
}

.form-group {
  margin-bottom: 10px; /* Adjust spacing between form groups */
}

label {
  width: 100px; /* Set a fixed width for the labels */
}






.submit-button {
  margin-top: 20px; /* Adjust top margin */
  width: 100%; /* Make the button full width */
  text-align: center; /* Align text center */
  background-color: #212121 ; /* Set background color */
  color: white; /* Set text color */
  border: 1px solid #212121; /* Add border */
  padding: 10px; /* Add padding */
  border-radius: 20px; /* Add border radius */
  cursor: pointer; /* Change cursor to pointer */
  transition: background-color 0.3s; /* Add transition effect */
}

.submit-button:hover {
  background-color: black; /* Change background color on hover */
}




.upload-instructions {
  margin-top: 20px;
  font-weight: bold;
  color: white;
}

.upload-instructions-list {
  list-style-type: disc;
  margin-left: 20px;
  color: white;
}